In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

pd.options.mode.chained_assignment = None

In [249]:
DATA_PATH = r'C:\Users\User\[redacted].xlsx'

df = pd.read_excel(open(DATA_PATH, 'rb'),
              sheet_name='Data')  

results = pd.DataFrame()

df.head()

,#,Last_name,First_name,Gender,Group,Workplace_change,In_search,Income_change,Status_change,Knowledge,Brand,Connections,Satisfaction
0,1,Абросимова,Ирина,0,МВА-Роснеть-2017,0,0,0,0,2,1.0,3.0,9.0
1,184,Бекяшева,Адиля,0,NaN,1,0,5,2,3,2.0,3.0,9.0
2,185,Белоруссова,М.К.,0,NaN,1,1,-1,0,1,0.0,1.0,1.0
3,134,Белоруссова,Мария,0,NaN,1,0,4,2,3,3.0,2.0,9.0
4,105,Бронская,Лидия,0,NaN,1,0,2,2,3,2.0,2.0,9.0

In [250]:
def calculate_OLS(X, y, moderators=None, model_name='model'):
    for moderator in moderators:
        X[moderator]=X[moderators[moderator]]*X['Gender']
    for column in X:
        X[column] = X[column].fillna(0)
    X1 = sm.add_constant(X)
    est = sm.OLS(y, X1)
    est2 = est.fit()
    #print(est2.summary())
    global results
    results = pd.concat((results, est2.params.rename(model_name)), axis=1)

In [251]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: 'Knowledge'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Income_change'], 
              {'moderator_kno': 'Knowledge'}, 'model_3')

In [252]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: 'Connections'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Income_change'], 
              {'moderator_con': 'Connections'}, 'model_4')

In [253]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: 'Satisfaction'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Income_change'], 
              {'moderator_sat': 'Satisfaction'}, 'model_5')

In [254]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Status_change'
# moderation: 'Knowledge'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Status_change'], 
              {'moderator_kno': 'Knowledge'}, 'model_6')

In [255]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Status_change'
# moderation: 'Connections'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Status_change'], 
              {'moderator_con': 'Connections'}, 'model_7')

In [256]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Status_change'
# moderation: 'Satisfaction'

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Status_change'], 
              {'moderator_sat': 'Satisfaction'}, 'model_8')

In [257]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: NO

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Income_change'], 
              {}, 'model_1')

In [258]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Status_change'
# moderation: NO

# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: NO

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Status_change'], 
              {}, 'model_2')

In [259]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Income_change'
# moderation: ALL

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Income_change'], 
              {'moderator_kno': 'Knowledge', 'moderator_con': 'Connections', 'moderator_sat': 'Satisfaction'}, 'model_9')

In [260]:
# X: 'Gender', 'Knowledge', 'Connections', 'Satisfaction'
# y: 'Status_change'
# moderation: ALL

calculate_OLS(df[['Gender', 'Knowledge', 'Connections', 'Satisfaction']], 
              df['Status_change'], 
              {'moderator_kno': 'Knowledge', 'moderator_con': 'Connections', 'moderator_sat': 'Satisfaction'}, 'model_10')

In [261]:
results

,model_3,model_4,model_5,model_6,model_7,model_8,model_1,model_2,model_9,model_10
const,-1.182749,-2.091041,-0.877178,-0.818497,-0.689268,-0.795913,-0.978577,-0.593345,-1.640121,-0.849234
Gender,1.164773,2.297710,0.746423,0.470899,0.279524,0.424985,0.880410,0.157315,1.699345,0.508848
Knowledge,0.519504,0.378846,0.418801,0.413451,0.295931,0.293176,0.415826,0.299120,0.437226,0.394815
Connections,0.095383,0.686607,0.096908,0.101063,0.153797,0.103370,0.097109,0.102967,0.780882,0.104950
Satisfaction,0.220928,0.224021,0.207023,0.057863,0.058612,0.087111,0.221402,0.058386,0.122396,0.066054
moderator_kno,-0.138758,NaN,NaN,-0.153016,NaN,NaN,NaN,NaN,-0.058023,-0.130611
moderator_con,NaN,-0.727384,NaN,NaN,-0.062720,NaN,NaN,NaN,-0.846365,-0.004312
moderator_sat,NaN,NaN,0.017953,NaN,NaN,-0.035866,NaN,NaN,0.127173,-0.010112

In [35]:
results.to_excel('results_table_MBA.xlsx')

pandas.core.series.Series